<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDybHxCRmOtQlhXR14Vn4XzWPI0nYWHVcY</string>
	<key>GCM_SENDER_ID</key>
	<string>722000278490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hamaApps</string>
	<key>PROJECT_ID</key>
	<string>anti-hama1</string>
	<key>STORAGE_BUCKET</key>
	<string>anti-hama1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722000278490:ios:89652eeb865ca602f346e3</string>
	<key>DATABASE_URL</key>
	<string>https://anti-hama1-default-rtdb.firebaseio.com</string>
</dict>
</plist>